.paddingBlock{
    padding: 0 10%;
}
.paddingBlock h1{
    margin: 0 3%;
    text-align: center;
}
.posRel{
    width: 150px;
}
.container h3{
    margin-top: 15px;
    text-align: center;
}
header{
    height: 13%;
    background: #fff;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body{
    height: 100vh;
}
main{
    min-height: 77%;
}
.burger{
    display: none;
    width: 47px;
    height: 47px;
    position: absolute;
}
.close{
    display: none;
}
.logoWrap{
    height: 100%;
    display: flex;
    align-items: center;
}
.logoWrap>a{
    display: block;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
}
.logoWrap>a>.logo{
    height: 100%;
}
.sideboard{
    width: 10%;
    min-width: 150px;
    height: 100%;
}
.exit{
    height: 50%;
}
.exit a{
    display: block;
    height: 100%;
}
.exit a img{
    height: 100%;
}
.homeLink{
    display: flex;
    justify-content: center;
}
.homeLink img{
    width: 30%;
}
.bg-color{
    background-color: #949AA5;
}
footer{
    background: #fff;
    height: 150px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: x-large;
    height: 10%;
}
a {
    color:#fff !important;
}
p{
    margin: auto !important;
}
@media screen and (max-width:720px) {
    .posRel{
        position: absolute;
        left: -200px;
    }
    .container h1{
        margin-top: 50px;
        font-size: 1.2rem !important;
        text-align: center;
    }
    .container h3{
        font-size: 1rem !important;
        text-align: center;
    }
    .paddingBlock h1{
        font-size: 1.2rem !important;
        text-align: center;
    }
    .burger{
        display:block;
        border-radius: 0 15px 15px 0;
    }
    .burger .svg{
        height: 65%;
        width:  65%;
        position: absolute;
        top: 16%;
        left: 16%;
    }
    .sideboard{
        width: 10%;
        min-width: 200px !important;
    }
    .container h2{
        font-size: 1.1rem;
        text-align: center;
    }
    .homeLink img {
        width: 25%;
    }
    footer{
        text-align: center;
        font-size: medium;
    }
    .container h3{
        margin-top: 50px;
    }
}
@media screen and (max-width:1080px) {
    .paddingBlock{
        padding: 0 3%;
    }
    .paddingBlock h1{
        font-size: 2rem;
    }
    .container h1{
        font-size: 1.5rem !important;
        text-align: center;
    }
    .container h3{
        font-size: 1.2rem !important;
        text-align: center;
    }
    .container h2{
        font-size: 1.4rem;
        text-align: center;
    }
}
.swal-button--success {
    color: #fff;
    background-color: #3490dc;
    border-color: #3490dc;
}
.swal-button--success:hover {
color: #fff;
background-color: #227dc7;
border-color: #2176bd;
}
.swal-button--success:focus, .swal-button--success.focus {
color: #fff;
background-color: #227dc7;
border-color: #2176bd;
box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}
.swal-button--success.disabled, .swal-button--success:disabled {
color: #fff;
background-color: #3490dc;
border-color: #3490dc;
}
.swal-button--success:not(:disabled):not(.disabled):active, .swal-button--success:not(:disabled):not(.disabled).active, .show > .swal-button--success.dropdown-toggle {
color: #fff;
background-color: #2176bd;
border-color: #1f6fb2;
}
.swal-button--success:not(:disabled):not(.disabled):active:focus, .swal-button--success:not(:disabled):not(.disabled).active:focus, .show > .swal-button--success.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}

.swal-button--erro {
    color: #fff;
    background-color: #e3342f;
    border-color: #e3342f;
}
.swal-button--erro:hover {
color: #fff;
background-color: #d0211c;
border-color: #c51f1a;
}
.swal-button--erro:focus, .swal-button--erro.focus {
color: #fff;
background-color: #d0211c;
border-color: #c51f1a;
box-shadow: 0 0 0 0.2rem rgba(231, 82, 78, 0.5);
}
.swal-button--erro.disabled, .swal-button--erro:disabled {
color: #fff;
background-color: #e3342f;
border-color: #e3342f;
}
.swal-button--erro:not(:disabled):not(.disabled):active, .swal-button--erro:not(:disabled):not(.disabled).active, .show > .swal-button--erro.dropdown-toggle {
color: #fff;
background-color: #c51f1a;
border-color: #b91d19;
}
.swal-button--erro:not(:disabled):not(.disabled):active:focus, .swal-button--erro:not(:disabled):not(.disabled).active:focus, .show > .swal-button--erro.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(231, 82, 78, 0.5);
}
.wrap h2{
    font-size: 6rem;
}
.wrap>p>small> a{
    color:#227dc7 !important
}